# Created by https://www.gitignore.io/api/polymer,visualstudiocode

### Polymer ###
#Installed components via bower
bower_components/
### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history


# End of https://www.gitignore.io/api/polymer,visualstudiocode