<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-input/paper-textarea.html">

<dom-module id="input-message-area">
  <template>
    <style>
      :host {
        display: block;
      }

      paper-card {
        width: 100vw;
      }

      .card-content {
        display: flex;
      }

      paper-textarea {
        flex: auto;
      }
    </style>

    <paper-card>
      <div class="card-content">
        <paper-textarea label="メッセージ" required id="textarea"></paper-textarea>
        <paper-button raised on-click="onSubmit">送信</paper-button>
      </div>
    </paper-card>
  </template>

  <script>
    class InputMessageArea extends Polymer.Element {
      static get is() { return 'input-message-area'; }

      connectedCallback() {
        super.connectedCallback();

        const id = JSON.stringify({ channel: 'ChatChannel', room:'room1' });
        const ws = new WebSocket('ws://localhost:3000/cable');
        ws.onopen = function(event) {
          const subscribeMessage = JSON.stringify({command: 'subscribe', identifier: id});
          ws.send(subscribeMessage);
        };

        ws.onmessage = function(message) {
          let data = JSON.parse(message.data);
          if (data.type != "ping") {
            console.log(data);
          }
        };

        this.id = id;
        this.ws = ws;
      }

      disconnectedCallback() {
        super.disconnectedCallback();
        this.ws.close();
      }

      onSubmit() {
        this.wsSend(this.$.textarea.value);
      }

      wsSend(messageBody) {
        const data = JSON.stringify({message: messageBody, action: 'speak'});
        const message = JSON.stringify({ command: 'message', data: data, identifier: this.id});
        this.ws.send(message);
      }
    }

    window.customElements.define(InputMessageArea.is, InputMessageArea);
  </script>
</dom-module>
